<div class="row">
	<div class="col-md-4">
		<h3>Enrollment Requirements</h3>
		<h4>Members per team: 3</h4>
		<h4>Bet amount: <%= money_format(@tournament.bet_amount) %> per team member</h4>
	</div>
	<div class="col-md-4">
		<h3>Tournament Details</h3>
		<h4>Sport: <%= @tournament.sport.name %></h4>
		<h4>Location: <%= @tournament.venue.name %></h4>
		<h4>Capacity: <%= @tournament.capacity %> teams</h4>
	</div>
	<div class="col-md-4">
		<h3>Organizer: <%= @tournament.organizer.email %></h3>
	</div>
</div>
<hr>
<h3>Available Team Colors</h3>
<div class="row">
	<div class="col-md-12">
		<%= form_for [:profile, @tournament, Team.new], :html => {class: 'form-inline',} do |f| %>
			<div class="form-group">
				<%= f.select :color, options_for_select([['Red', 'Red'], ['Black', 'Black'], ['Orange', 'Orange'], ['Yello', 'Yellow']]), {:include_blank => 'Select a color'}, class: "form-control input-lg" %>
			</div>
				<%= f.submit "Enroll", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>
