<%= link_to tournament_path(tournament) do %>
	<div class="tournament">
		<div class="row tournament-address">
			<div class="col-md-12">
				<h4 class="pull-left"><%= tournament.sport.name + " Tournament" %></h4>
				<h4 class="pull-right"><%= tournament.venue.address %></h4>
			</div>
		</div>
		<div class="row gutter-50">
			<div class="col-md-4">
				<%= image_tag(tournament.venue.venue_image_url(:medium)) if tournament.venue.venue_image? %>
			</div>
			<div class="col-md-8">
				<% if tournament.full? %>
					<h4>Full</h4>
				<% end %>
				<h4><%= format_datetime(tournament.date, tournament.time) %></h4>
				<div class="progress-container">
					<h4>Betting total @ <%= money_format(tournament.current_bet_amount) %> of <%= money_format(tournament.total_bet_amount) %></h4>
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="<%= tournament.bet_amount_percentage %>"
									  aria-valuemin="0" aria-valuemax="100" style="width:<%= tournament.bet_amount_percentage %>">
						</div>
					</div>
				</div>
					<div class="tournament-enrolled-users">
						<div class="row gutter-10">
							<% tournament.users.order("RANDOM()").limit(6).each do |user| %>
								<div class="col-md-2">
									<%= image_tag(user.profile_image_url(:medium), class: "img-circle") if user.profile_image? %>
								</div>
							<% end %>
						</div>
					</div>
			</div>
		</div>
	</div>
<% end %>
