<div class="tournaments js-items-container">
	<%= render partial: 'tournaments/item', collection: @tournaments %>
</div>

<div class="pagination" data-pagination-endpoint="<%= @endpoint %>" data-pagination-pages="<%= @page_amount %>">
	<%= image_tag 'ajax-loader.gif' %>
</div>


<% content_for :sidebar do %>
	<% Team.order("created_at DESC").limit(4).each do |team| %>
	    <div class="team">
	    	<p class="text-center"><%= image_tag(team.captain.profile_image_url(:small), class: "img-circle default profile-img") if team.captain.profile_image? %></p>
	     	 <div class="text-center"><i class="fa fa-circle <%= team.color.name.downcase %>"></i></div>
	     	 <h6 class="text-center"><%= team.tournament.sport.name %> Tournament</h6>
	     	 <%= join_btn(team.tournament, team) %>
	    </div>
	<% end %>
	<p class="text-center"><%= link_to "More Teams", "#", class: "default btn-block" %></p>
<% end %>
