<div class="application-col <%= "closed" if !@tournament.enrollment_period? %>">
	<div class="row">
			<div class="col-md-12 header">
				<div class="organizer-details">
					<h3 class="text-center"><%= @tournament.sport.name %> tournament organized by <%= @tournament.organizer.full_name %></h3>
					<h4 class="text-center"><%= @tournament.venue.address %></h4>
					<p class="text-center organizer-img"><%= image_tag(@tournament.organizer.profile_image_url(:normal), class: "img-circle default") if @tournament.organizer.profile_image? %></p>
				</div>
				<div class="details text-center <%= "closed" if !@tournament.enrollment_period? %>">
					<h4><%= format_datetime(@tournament.date, @tournament.time) %></h4>
					<h4>Open to <%= pluralize(@tournament.capacity, "team") %> with <%= pluralize(@tournament.team_size, "member") %> per team</h4>
					<h4>Bet entry at <%= number_to_currency(@tournament.bet_amount, :unit => "$") %> per team member</h4>
				</div>
				<div class="progress-container <%= "closed" if !@tournament.enrollment_period? %>">
				  <h4>Betting total currently at <%= money_format(@tournament.current_bet_amount) + "/" + money_format(@tournament.total_bet_amount) %></h4>
					<div class="progress">
					  <div class="progress-bar" role="progressbar" aria-valuenow="<%= @tournament.bet_amount_percentage %>"
					  aria-valuemin="0" aria-valuemax="100" style="width:<%= @tournament.bet_amount_percentage %>">
					  </div>
					</div>
				</div>
			</div>
	</div>

	<div class="row body gutter-60">
		<div class="col-md-5">
		  <h3><%= @tournament.venue.name %></h3>
		  <%= image_tag(@tournament.venue.venue_image_url(:medium)) if @tournament.venue.venue_image? %>
		</div>
		<div class="col-md-7">
		  <% if @tournament.enrollment_period?  %>
		    <% if user_signed_in? %>
		      <% if @tournament.enrolled?(current_user) %>
		        <div class="row enrolled-team">
		          <div class="col-md-12 header">
		            <h3>Enrolled With <%= current_user.team_for_tournament(@tournament).color.name %> Team</h3>
		            <%= leave_team_btn(@tournament) %>
		            <%= leave_tournament_btn(@tournament, current_user.team_for_tournament(@tournament)) %>
		          </div>
		          <% current_user.team_for_tournament(@tournament).users.each do |user| %>
		            <div class="col-md-4">
		              <%= image_tag(user.profile_image_url(:medium), class: "img-circle") if user.profile_image? %>
		            </div>
		          <% end %>
		        </div>
		      <% else %>
		        <% if !current_user.has_tournament_this_date?(@tournament) %>
		          <% if @tournament.remaining_capacity > 0 %>
		            <h3>Enroll A New Team</h3>
		            <h4>Space for <%= pluralize(@tournament.remaining_capacity, "team") %> remaining</h4>
		            <%= form_for [:profile, @tournament, Team.new] do |f| %>
		              <div class="form-group">
		                <div class="select-style">
		                  <%= f.select :color_id, options_for_select(Color.where.not(id: @tournament.teams.select(:color_id)).map{ |c| [c.name, c.id] }), {}, class: "form-control input-lg selectpicker", title: "Choose your team color" %>
		                </div>
		              </div>
		              <%= f.submit "Enroll", class: "btn btn-primary btn-block round" %>
		            <% end %>
		          <% else %>
		            <h3>Maximum Teams Enrolled</h3>
		            <h4>Don't worry you can still participate, there are <%= pluralize(@tournament.teams_with_space, "enrolled team") %> with available space (see below).</h4>
		          <% end %>
		        <% else %>
		          <h3>Unable To Enroll</h3>
		          <h4>You are already enrolled in another <%= link_to "tournament", tournament_path(current_user.tournament_this_date(@tournament)), class: "notice" %> that falls on this same date.</h4>
		        <% end %>
		      <% end %>
		    <% else %>
		      <% if @tournament.remaining_capacity > 0 %>
		        <h3>Enroll A New Team</h3>
		        <h4>Space for <%= pluralize(@tournament.remaining_capacity, "team") %> remaining</h4>
		        <%= form_for [:profile, @tournament, Team.new] do |f| %>
		          <div class="form-group">
		            <div class="select-style">
		              <%= f.select :color_id, options_for_select(Color.where.not(id: @tournament.teams.select(:color_id)).map{ |c| [c.name, c.id] }), {:include_blank => 'Choose your team color'}, class: "form-control input-lg" %>
		            </div>
		          </div>
		          <%= f.submit "Enroll", class: "btn btn-primary btn-block round" %>
		        <% end %>
		      <% else %>
		        <h3>Maximum Teams Enrolled</h3>
		        <h4>Don't worry you can still participate, there are <%= pluralize(@tournament.teams_with_space, "enrolled team") %> with available space (see below).</h4>
		      <% end %>
		    <% end %>
		  <% else %>
		    <h3>Enrollment Period Closed</h3>
		    <h4>You can no longer enroll a new team in this tournament or join an already enrolled team.</h4>
		  <% end %>
		</div>
	</div>

	<div class="enrolled-teams">
		<div class="row">
				<div class="col-sm-12">
					<div class="row gutter-60">
						<div class="col-md-4">
							<h3>Teams</h3>
						</div>
						<div class="col-md-8">
							<h3>Members</h3>
						</div>
					</div>
							<% @tournament.teams.each do |team| %>
								<div class="team-enrolled">
									<div class="row gutter-60">
										<div class="col-md-4">
											<div class="team-container  <%= team.color.name.downcase %>">
												<h4 class="text-center"><%= team.color.name %> Team</h4>
												<h5 class="text-center gray-txt">
													<%= team_available_space(team) %>
												</h5>
												<%= join_btn(@tournament, team, "sm") %>
											</div>
										</div>
										<div class="col-md-8">
											<% team.users.each do |user| %>
												<div class="col-md-4">
													<div class="members">
														<h5 class="truncate"><%= user.full_name %></h5>
														<%= image_tag(user.profile_image_url(:medium), class: "img-circle") if user.profile_image? %>
													</div>
												</div>
											<% end %>
										</div>
									</div>
								</div>
							<% end %>
				</div>
		</div>
	</div>

	<% if policy(@tournament).destroy? %>
		<div class="manage-tournament">
			<p class="text-center"><%= link_to profile_tournament_path(@tournament), method: :delete, data: { confirm: 'Are you sure?','sweet-alert-type': 'warning', text: 'You are about remove this tournament and all teams enrolled', 'confirm-button-color': '#EE543A' }, class: "btn btn-danger btn-sm round" do %>
				<%= fa_icon "remove" %> Cancel Tournament
				<% end %>
			</p>
		</div>
	<% end %>
</div>
