<div class="row">
	<div class="row header">
		<div class="col-md-12">
			<div class="organizer-details">
				<h3 class="text-center"><%= @tournament.sport.name %> tournament organized by <%= @tournament.organizer.username %></h3>
				<h4 class="text-center"><%= @tournament.venue.address %></h4>
				<p class="text-center"><%= image_tag(@tournament.organizer.profile_image_url(:small), class: "img-circle default profile-img") if @tournament.organizer.profile_image? %></p>
			</div>
			<div class="details text-center">
				<h4><%= format_datetime(@tournament.date) %></h4>
				<h4>Max of <%= pluralize(@tournament.capacity, "team") %> with <%= pluralize(@tournament.team_size, "member") %> per team</h4>
				<h4><%= number_to_currency(@tournament.bet_amount, :unit => "$") %> per team member</h4>
			</div>
			<div class="progress-container">
			  	<h4>Betting total currently at <%= money_format(@tournament.current_bet_amount) + "/" + money_format(@tournament.total_bet_amount) %></h4>
				<div class="progress">
				  <div class="progress-bar" role="progressbar" aria-valuenow="<%= @tournament.bet_amount_percentage %>"
				  aria-valuemin="0" aria-valuemax="100" style="width:<%= @tournament.bet_amount_percentage %>">
				  </div>
				</div>
			</div>
		</div>
	</div>
	<div class="row body gutter-60">
		<div class="col-md-5">
			<h3><%= @tournament.venue.name %></h3>
			<%= image_tag(@tournament.venue.venue_image_url(:medium)) if @tournament.venue.venue_image? %>
		</div>
		<div class="col-md-7">
			<% if !@tournament.enrolled?(current_user) && @tournament.allow_enrollment? %>
				<h3>Enroll A New Team</h3>
				<h4>choose a team color | <%= @tournament.capacity %> space remaining</h4>
				<%= form_for [:profile, @tournament, Team.new] do |f| %>
					<div class="form-group">
						<%= f.select :color, options_for_select([['Red', 'Red'], ['Black', 'Black'], ['Orange', 'Orange'], ['Yello', 'Yellow']]), {:include_blank => 'Select a color'}, class: "form-control input-lg" %>
					</div>
						<%= f.submit "Enroll", class: "btn btn-primary btn-block" %>
				<% end %>
			<% else %>
				<div class="row enrolled-team">
					<div class="col-md-12 header">
						<h3>Enrolled With <%= current_user.tournament_team(@tournament).color %> Team</h3>
						<%= link_to "Leave Team", leave_profile_team_path(current_user.tournament_team(@tournament)), method: :delete, class: "btn btn-danger btn-xs" %>
						<%= leave_btn(@tournament, current_user.tournament_team(@tournament)) %>
					</div>
					<% current_user.tournament_team(@tournament).users.each do |user| %>
						<div class="col-md-3">
							<%= image_tag(user.profile_image_url(:normal), class: "img-circle") if user.profile_image? %>
						</div>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
<div class="enrolled-teams">
	<div class="row">
		<div class="col-md-12">
			<h3>Teams Enrolled</h3>
		</div>
	</div>
	<div class="row">
		<% @tournament.teams.each do |team| %>
			<div class="col-md-3">
				<% if @tournament.organizer == current_user %>
					<%= link_to profile_team_path(team), method: :delete, class: "btn btn-danger btn-xs btn-block" do %>
						<%= fa_icon "remove" %> Remove Team
					<% end %>
				<% end %>
				<figure>
					<%= image_tag(team.captain.profile_image_url(:normal)) if team.captain.profile_image? %>
					<figcaption>
						<h5 class="truncate"><%= team.color %> Team</h5>
						<h5 class="truncate">Captain - <%= team.captain.username %></h5>
						<h5 class="truncate"><%= @tournament.team_size - team.users.count %> space remaining</h5>
						<%= link_to "Join", join_profile_team_path(team), method: :put, class: "btn btn-primary btn-xs btn-block" %>
					</figcaption>
				</figure>
			</div>
		<% end %>
	</div>
</div>
<% if @tournament.organizer == current_user %>
	<div class="manage-tournament">
		<p class="text-center"><%= link_to profile_tournament_path(@tournament), method: :delete, class: "btn btn-danger btn-sm" do %>
			<%= fa_icon "remove" %> Cancel Tournament
			<% end %>
		</p>
	</div>
<% end %>
