<header>
  <div class="container">
    <div class="row">
      <div class="col-md-7 brand">
        <h2><%= link_to "sportnd", root_path %></h2>
        <h4>All inclusive betting-based sporting tournaments!</h4>
      </div>
      <div class="col-md-5">
        <div class="pull-right">
          <% if !user_signed_in? %>
            <%= link_to "Sign In", new_user_session_path %>
            <%= link_to "Sign Up", new_user_registration_path, class: "header-btn auth" %>
          <% else %>
            <%= link_to "My Tournaments", profile_tournaments_path, class: "my-tournaments-btn" %>
            <%= image_tag(current_user.profile_image_url(:small), class: "img-circle default profile-img") if current_user.profile_image? %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>
