<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%= link_to root_path, class: "navbar-brand" do %>
              sportnd <small>Basketball tournaments played on the weekend across Belize</small>
            <% end %>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="nav-collapse">
            <ul class="nav navbar-nav pull-right">
              <% if current_user %>
                <li><%=link_to "My Tournaments", profile_tournaments_path, class: "auth-link lg" %></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <div class="img-rounded profile-img">
                          <img src="http://graph.facebook.com/v2.6/1786997181617714/picture?width=180&height=180"  class="img-circle" alt="profile picture">
                        </div>
                    </a>
                    <ul class="dropdown-menu">
                      <li><%= active_link_to "Account Settings", edit_user_registration_path %></li>
                      <li role="separator" class="divider"></li>
                      <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
                    </ul>
                </li>
              <% else %>
              <li><%=link_to "Sign In", user_facebook_omniauth_authorize_path, class: "auth-link" %></li>
              <li><a href="#" class="auth-link header-btn" type="button" data-toggle="modal" data-target="#authModal">Sign Up</a></li>
              <% end %>
            </ul>
        </div>
    </div>
</nav>



<!-- Sign In & Sign Up Modal -->
  <div id="authModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title text-center">Login To Join The Community</h3>
          <p class="text-center modal-subtitle">Made in Belize for belizeans!</p>
        </div>
        <div class="modal-body text-center">
          <div class="body-content">
            <p>
              Sportnd is a community platform where anyone can organize and enroll in basketball
              tournaments which are played exclusively on the weekend.
            </p>
          </div>
          <%= link_to "Log In With Facebook", user_facebook_omniauth_authorize_path, class: "facebook-btn" %>
        </div>
        <div class="modal-footer">
          <h5 class="text-center">We will never post to your Facebook without permission from you.</h5>
        </div>
      </div>
    </div>
</div>
