<div class="col-md-3">
  <nav class="sidebar">
    <ul>
      <li><%= link_to "Tournaments", root_path %></li>
      <li><%= link_to "Enrolled Teams", teams_path %></li>
      <li><%= link_to "Members", members_path %></li>
      <li><%= link_to "Sporting Venues", venues_path %></li>
      <!-- <li><%= link_to "How It Works", information_path %></li> -->
      <% if user_signed_in? %>
        <li><%= link_to "Account Settings", edit_user_registration_path %></li>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
      <% end %>
    </ul>
  </nav>
</div>
