<div class="col-md-3">
  <nav class="sidebar">
    <ul>
      <div class="section">
        <span class="home"><%= link_to "Home", root_path %></span>
        <input type="text" name="" placeholder="Search tournaments" class="form-control search-form">
      </div>
      <div class="section items">
        <span class="home"><%= link_to "Sporting Venues", venues_path %></span>
      </div>
      <div class="section items">
        <span class="title">Your Account</span>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <li><%= link_to "Settings", edit_user_registration_path %></li>
      </div>
      <div class="section items">
        <span class="title">About</span>
        <li><%= link_to "Rules", "#" %></li>
        <li><%= link_to "Faq", "#" %></li>
      </div>
    </ul>
  </nav>
</div>
