<div class="row">
	<div class="col-md-12 text-center">
		<%= link_to "New Tournament", new_profile_tournament_path, class: "btn btn-primary" %>
	</div>
</div>
<div class="my-tournaments">
	<h3 class="section-title">Your Tournaments</h3>
	<div class="row">
		<% current_user.tournaments.each do |tournament| %>
			<%= link_to tournament_path(tournament) do %>
				<div class="col-md-4">
					<h4><%= "Organized" if tournament.organizer == current_user %></h4>
					<figure>
						<%= image_tag(tournament.venue.venue_image_url(:medium)) if tournament.venue.venue_image? %>
						<figcaption>
							<h4><%= tournament.sport.name %> Tournament</h4>
							<h4><%= format_datetime(tournament.date) %></h4>
						</figcaption>
					</figure>
				</div>
			<% end %>
		<% end %>
	</div>
</div>