	<div class="row profile-header box-shadow">
		<% if policy(Tournament).new? %>
			<div class="col-md-12">
				<h3 class="text-center">Organize Your Own Tournament</h3>
				<p class="text-center"><%= link_to "New Tournament", new_profile_tournament_path, class: "btn btn-primary round" %></p>
			</div>
		<% else %>
			<div class="col-md-12 cant-start-tournament">
				<h3 class="text-center">Use The Weekend To Organize Your Own Tournaments</h3>
				<p class="text-center"><%= link_to "New Tournament", new_profile_tournament_path, class: "btn btn-primary disabled round" %></p>
			</div>
		<% end %>
	</div>
	<% if current_user.upcoming_tournaments.any? %>
		<h3 class="text-center title">Your Upcoming Tournaments</h3>
		<% current_user.upcoming_tournaments.each do |tournament| %>
        <div class="member-tournament box-shadow">
          <%= link_to tournament_path(tournament) do %>
            <div class="row gutter-60">
              <div class="col-md-12 tournament-address">
                <h5 class="pull-left"><%= tournament_organized_title(tournament) %> Tournament <% if tournament.full? %><span class="tournament-full">Full</span><% end %></h5>
                <h5 class="pull-right"><%= tournament.venue.name + ", " + tournament.venue.address %></h5>
              </div>
              <div class="col-md-4">
                <%= image_tag(tournament.venue.venue_image_url(:medium)) if tournament.venue.venue_image? %>
              </div>
              <div class="col-md-8">
                  <h4><%= profile_tournament_date(tournament) %></h4>
									<h4><%= teams_enrollment_status(tournament) %></h4>
									<div class="progress-container">
										<h4>Betting total @ <%= money_format(tournament.current_bet_amount) %> of <%= money_format(tournament.total_bet_amount) %></h4>
										<div class="progress">
											<div class="progress-bar" role="progressbar" aria-valuenow="<%= tournament.bet_amount_percentage %>"
														  aria-valuemin="0" aria-valuemax="100" style="width:<%= tournament.bet_amount_percentage %>">
											</div>
										</div>
									</div>
              </div>
            </div>
          <% end %>
        </div>
    <% end %>
	<% else %>
		<h3 class="text-center">No tournaments, let's change that!</h3>
		<h4 class="text-center">Enroll in upcoming <%= link_to "tournaments", root_path, class: "notice" %> or join already enrolled <%= link_to "teams", teams_path, class: "notice" %></h4>
	<% end %>
