<div class="row">
	<div class="col-md-7 center-block">
		<h2 class="text-center">Kick off your new tournament</h2><br>
		<%= form_for [:profile, Tournament.new] do |f| %>
			<div class="form-group">
				<%= f.label :capacity, "Number of teams you want in this tournament", class: "lb-lg" %>
				<%= f.text_field :capacity, class: "form-control input-lg" %>
			</div>
			<div class="form-group">
				<%= f.label :team_size, "Number of members each team should have", class: "lb-lg" %>
				<%= f.text_field :team_size, class: "form-control input-lg" %>
			</div>
			<div class="form-group">
				<%= f.label :bet_amount, "Bet amount per each team member", class: "lb-lg" %>
				<%= f.text_field :bet_amount, class: "form-control input-lg" %>
			</div>
			<div class="form-group">
				<%= f.label :sport_id, "Tournament played in which sport", class: "lb-lg" %>
				<%= f.select :sport_id, options_for_select(Sport.all.map{ |c| [c.name, c.id] }), {:include_blank => 'Select sport'}, class: "form-control input-lg" %>
			</div>
			<div class="form-group">
				<%= f.label :venue_id, "Where will this tournament take place", class: "lb-lg" %>
				<%= f.select :venue_id, options_for_select(Venue.all.map{ |c| [c.name, c.id] }), {:include_blank => 'Select venue'}, class: "form-control input-lg" %>
			</div>
			<div class="form-group">
				<%= f.label :date, "When on the weekends will this tournament occur", class: "lb-lg" %>
                <div class='input-group date' id='datetimepicker'>
                <%= f.text_field :date, class: "form-control input-lg", onkeydown: "return false", 'data-behaviour' => 'datepicker' %>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
			<div class="form-group">
				<%= f.submit class: "btn btn-primary btn-block" %>
			</div>
		<% end %>
	</div>
</div>

<script>
    $(function () {
        $('#datetimepicker').datetimepicker({
    		daysOfWeekDisabled: [1, 2, 3, 4, 5],
    		minDate:new Date(),
    		useCurrent:false
		});
    });
</script>