<% content_for :title, "Start your own tournament" %>

<div class="row gutter-100">
	<div class="col-md-7">
		<div class="new-header">
			<h2 class="text-center">Kick off your new tournament</h2><br/>
			<h4 class="gray-txt">Tournament limited to 4 teams, with 2 members per team.</h4>
			<h4 class="gray-txt">Entry amount currently limited to $5 per team member.</h4>
		</div>
		<%= form_for [:profile, @tournament] do |f| %>
		<ul>
		<% @tournament.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
			<div class="form-group">
				<%= f.label :venue_id, "Played at which court?", class: "lb-lg" %>
				<%= f.select :venue_id, options_for_select(Venue.all.map{ |c| [c.name, c.id, {"data-subtext"=>"- #{c.address}"}] }), {}, class: "form-control input-lg selectpicker", title: "Choose court near you" %>
			</div>
			<div class="form-group">
					<%= f.label :date, "Choose weekend day", class: "lb-lg" %>
					<%= f.select :date, options_for_days, {}, prompt: 'Select One', class: "form-control input-lg selectpicker" %>
      </div>
			<div class="form-group">
				<%= f.label :time, "Around what time?", class: "lb-lg" %>
				<%= f.text_field :time, class: "timepicker form-control input-lg" %>
			</div>
      <div class="form-group">
				<%= f.label :team_color_id, "Choose your team color to enroll", class: "lb-lg"  %>
				<%= f.select :team_color_id, options_for_select(Color.all.map{ |c| [c.name, c.id] }), {}, class: "form-control input-lg selectpicker", title: "Choose team color" %>
      </div><br>
			<div class="form-group">
				<%= f.submit class: "btn btn-primary btn-block round" %>
			</div>
		<% end %>
	</div>
	<div class="col-md-5">
		<div class="tournament-info">
			<p><i class="fa fa-lightbulb-o" aria-hidden="true"></i></p>
			<section class="info">
				<p class="info-title">New tournament</p>
				<p>You can start just one tournament for next weekend.
				</p>
			</section>
			<section class="info">
				<p class="info-title">2 tournaments per weekend</p>
				<p>You can enroll in a tournament for Saturday and/or Sunday, but never twice on the same day.</p>
			</section>
			<section class="info">
				<p class="info-title">Unfunded tournaments</p>
				<p>Tournaments that aren't full before the day the tournament is to be played are considered
				unfunded and won't be played.</p>
			</section>
		</div>
	</div>
</div>
