<!DOCTYPE html>
<html>
  <head>
    <title>Home - Welcome</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <%= render "header" %>
      <div class="container" id="main">
        <div class="row gutter-70">
            <%= render "nav" %>
          <div class="col-md-9">
            <%= yield %>
          </div>
        </div>
      </div>
    <%= render "footer" %>
  </body>
</html>
