<!DOCTYPE html>
<html>
  <head>
    <!-- LOVE YOU ALWAYS UNCLE ZANE -->
    <title>Home - Welcome</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Revalia" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
      <%= render "header" %>

      <div class="container">
        <%= yield %>
      </div>
      <%= render "footer" %>
  </body>
</html>
