<!DOCTYPE html>
<html>
  <head>
    <!-- LOVE YOU UNCLE ZANE - ALWAYS. -->
    <title>sportnd - <%= yield(:title) %></title>
    <%= csrf_meta_tags %>

    <link rel="icon" href="https://res.cloudinary.com/dwaavflqp/image/upload/v1497667217/basketball-32-184778_hokozo.png">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro|Roboto+Condensed" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">

      <%= render "header" %>

      <div class="container" id="main">
        <%= yield %>
      </div>

      <%= render "footer" %>

  </body>
</html>
