<div class="member box-shadow">
  <%= link_to member_path(member) do %>
    <div class="row gutter-60">
        <div class="col-md-3">
          <%= image_tag(member.image + "?type=large")  %>
        </div>
        <div class="col-md-9">
          <h4><%= member.name %></h4>
          <h4><%= member.location %></h4>
          <h4><%= member_tournaments_count(member) %></h4>
        </div>
    </div>
  <% end %>
</div>
