<div class="application-col">
  <div class="row text-center member-header">
    <%= image_tag(@user.profile_image_url(:normal), class: "img-circle default") if @user.profile_image? %>
    <h4><%= @user.full_name %></h4>
    <h4><%= tournaments_tracker_txt(@user) %></h4>
  </div>
  <% if @user.upcoming_tournaments.any? %>
    <h3 class="text-center gen-title">Upcoming Tournaments</h3><br>
    <% @user.upcoming_tournaments.each do |tournament| %>
        <div class="member-tournament">
          <%= link_to tournament_path(tournament) do %>
            <div class="row gutter-60">
              <div class="col-md-12 header-address">
                <h5 class="pull-left"><%= tournament.sport.name %> Tournament</h5>
                <h5 class="pull-right"><%= tournament.venue.name + ", " + tournament.venue.address %></h5>
              </div>
              <div class="col-md-4">
                <%= image_tag(tournament.venue.venue_image_url(:medium)) if tournament.venue.venue_image? %>
              </div>
              <div class="col-md-8">
                  <h4><%= format_datetime(tournament.date, tournament.time) %></h4>
                  <h4><%= teams_enrollment_txt(tournament) %></h4>
                  <div class="progress-container">
        						<h4>Betting total @ <%= money_format(tournament.current_bet_amount) %> of <%= money_format(tournament.total_bet_amount) %></h4>
        						<div class="progress">
        							<div class="progress-bar" role="progressbar" aria-valuenow="<%= tournament.bet_amount_percentage %>"
        										  aria-valuemin="0" aria-valuemax="100" style="width:<%= tournament.bet_amount_percentage %>">
        							</div>
        						</div>
        					</div>
              </div>
            </div>
          <% end %>
        </div>
    <% end %>
  <% else %>
  <hr>
    <h3 class="text-center">No Upcoming Tournaments</h3>
  <% end %>
</div>
